# PostgreSQL
POSTGRES_HOST=auth-postgres
POSTGRES_PORT=5432
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# JWT
ACCESS_TOKEN_PUBLIC_KEY=PAM_format_public_key
ACCESS_TOKEN_PRIVATE_KEY=PAM_format_private_key
ACCESS_TOKEN_ALGORITHM=algorithm

# Kafka
KAFKA_HOST=redpanda
KAFKA_PORT=8081